In [1]:
import pandas

In [2]:
df = pandas.read_csv('data/nyc_openData.csv')

In [3]:
df.shape

(450, 26)

In [4]:
pandas.set_option('display.max_columns',30)
#pandas.set_option('display.max_rows',30)

In [5]:
df.head()
#df.tail()

,Company Name,company contact,company email,company phone,Address,City,State,Postcode,Industry,Industry descr,Company Type,Current fulltime,Job created,Job retain,Effective Date,Total Savings,Savings from beginning receiving benefits,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,1 State Street,David Neiburg,eskoblo@energyspec.com,7186779077,1114 Avenue J,Brooklyn,NY,11230,Commercial,35 story building,LMEP,NaN,NaN,NaN,03/04/2005,0.00,349.78,Brooklyn,40.624784,-73.964920,314.0,44.0,534.0,3179818.0,3.067130e+09,Midwood
1,100 Church LLC,Edward A. Carroll,NaN,2125663000,100 Church Street,NY,NY,10007,Commercial,21 Floors,LMEP,NaN,NaN,NaN,04/02/2008,136578.20,4423698.05,New York,40.712968,-74.009490,101.0,1.0,21.0,1001409.0,1.001250e+09,SoHo-TriBeCa-Civic Center-Little Italy
2,100 Wall Investments,Jerry Branam,NaN,2122487160,96 Wall Street,New York,NY,10005,Landlord,NaN,LMEP,1238.0,NaN,NaN,01/05/2015,302959.40,1814542.62,New York,40.705052,-74.007199,101.0,1.0,7.0,1000875.0,1.000380e+09,Battery Park City-Lower Manhattan
3,1-10 Bush Terminal Owner LP,Andrew Kimball,akimball@industrycity.com,3474178429,"220 36th St, Suite 2A",Brooklyn,NY,11232,Landlord,Special Eligible Premises for eligible businesses,ECSP,25.0,NaN,NaN,02/03/2020,2159.67,6755.31,Brooklyn,40.656061,-74.007334,307.0,38.0,2.0,3398687.0,3.006950e+09,Sunset Park West
4,"120 Broadway Acquisitions JV, LLC (Ldmk)",Carl Letich,clettich@silvprop.com,2124064020,120 Broadway,New York,NY,10271,Commercial,NaN,LMEP,2699.0,NaN,NaN,06/30/2017,922407.32,3293055.08,New York,40.708546,-74.011041,101.0,1.0,7.0,1001026.0,1.000478e+09,Battery Park City-Lower Manhattan

1) How many different companies are represented in the data set?

In [6]:
#print(len(df))
print(len(df.groupby(['Company Name'])))

439

2) What is the total number of jobs created for business in Queens?

In [7]:
filt = df['City'].str.contains("Queens",na=False)
len( df.loc[ filt, 'City' ] )

68

3) How many different unique email domains names are there in the data set?

In [8]:
df['emdomain'] = df['company email'].apply(lambda x:str(x).split('@')[-1])
len( df.groupby(['emdomain']) )
## NaN will be counted as one of the domains

362

4) Considering only NTAs with at least 5 listed businesses, what is the average total savings and the total jobs created for each NTA?

In [9]:
df_jobs = df.groupby(['NTA'])[ ["Current fulltime"] ]
df_bene = df.groupby(['NTA'])[ ["Savings from beginning receiving benefits"] ]

df_jobs_sum = df_jobs.apply(sum)
df_bene_sum = df_bene.apply(sum)
df_bene_cnt = df_bene.count()
df_bene_sum = df_bene_sum.divide( df_bene_cnt )

df_sum = pandas.concat( [df_jobs_sum, df_bene_sum], axis=1, join="inner" )
#df_sum.head()

In [14]:
filt = df.groupby(['NTA'])['Company Name'].count()
filt = filt.mask( filt>=5 ).isna()
df_sum_NTA5 = df_sum[ filt ]
df_sum_NTA5.rename(columns={'Current fulltime':'JobsCreated','Savings from beginning receiving benefits':'AverageSavings'},inplace=True)
df_sum_NTA5

/var/folders/4j/3vdkb9bs501djlpz1ncjns6w0000gn/T/ipykernel_99882/401994566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sum_NTA5.rename(columns={'Current fulltime':'JobsCreated','Savings from beginning receiving benefits':'AverageSavings'},inplace=True)

                                                  JobsCreated  AverageSavings
NTA
Battery Park City-Lower Manhattan                      8688.0    3.798151e+06
Bushwick South                                          535.0    3.078000e+05
Carroll Gardens-Columbia Street-Red Hook                687.0    1.846839e+05
College Point                                           421.0    5.742508e+05
Crown Heights North                                      70.0    1.716897e+04
DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill       4282.0    4.373905e+05
East New York                                          1070.0    4.579454e+05
East Williamsburg                                       413.0    1.433695e+05
Greenpoint                                             1535.0    1.772221e+05
Hunters Point-Sunnyside-West Maspeth                  10095.0    1.606093e+05
Hunts Point                                            1423.0    3.976354e+05
Manhattanville                                          117.0    2.203059e+04
Maspeth                                                 205.0    2.078318e+04
Mott Haven-Port Morris                                  978.0    1.599056e+05
Queensbridge-Ravenswood-Long Island City               5434.0    4.471987e+05
SoHo-TriBeCa-Civic Center-Little Italy                  411.0    9.908676e+05
Springfield Gardens South-Brookville                    338.0    3.620289e+05
Steinway                                                269.0    2.557695e+05
Sunset Park West                                       1755.0    1.392565e+05
park-cemetery-etc-Brooklyn                              645.0    3.674033e+04

5) Save your result for the previous question as a CSV file.

In [15]:
df_sum_NTA5.to_csv('data/nyc_openData_question5.csv')